# US_Crime_Rates_1960_2014数据 - 函数

![](images/4.jpeg)

### 导入数据

In [1]:
import pandas as pd

In [9]:
crime = pd.read_csv('data/US_Crime_Rates_1960_2014.csv')
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.2 KB

### 将Year的数据类型转换为 datetime64  显示格式为年

In [3]:
crime.Year = pd.to_datetime(crime.Year, format='%Y')
crime.Year.head(3)

0   1960-01-01
1   1961-01-01
2   1962-01-01
Name: Year, dtype: datetime64[ns]

### 将列Year设置为数据框的索引

In [4]:
crime = crime.set_index('Year', drop=True) # drop 是否删除该列，默认为True
crime.head(3)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

### 删除名为Total的列

In [5]:
del crime['Total']
crime.head(3)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

### 按照Year对数据框进行分组并求和

In [6]:
# 关于 .resample 的介绍
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
# https://blog.csdn.net/wangshuang1631/article/details/52314944
# 更多关于 Offset Aliases的介绍 
# (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

# AS = YS = year start
# 10AS = 以10年为周期执行重采样，获取每个10年的犯罪率
# 10年的重采样求和就是做10年数据的累加
crimes = crime.resample('10AS').sum()

# 10年的犯罪数可以累加，但是人口累加没有意义
# 用resample去得到“Population”列的最大值
population = crime['Population'].resample('10AS').max()

# 更新 "Population" 
crimes['Population'] = population

crimes

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,201385000.0,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970-01-01,220099000.0,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980-01-01,248239000.0,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990-01-01,272690813.0,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000-01-01,307006550.0,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010-01-01,318857056.0,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080
2020-01-01,NaN,0,0,0,0,0,0,0,0,0

### 何时是美国历史上生存最危险的年代？

In [11]:
crime = pd.read_csv('data/US_Crime_Rates_1960_2014.csv')
crime = crime.set_index('Year', drop=True)
crime.idxmax(0)

Population            2014
Total                 1991
Violent               1992
Property              1991
Murder                1991
Forcible_Rape         1992
Robbery               1991
Aggravated_assault    1993
Burglary              1980
Larceny_Theft         1991
Vehicle_Theft         1991
dtype: int64